html {
    background-image: url(images/background.jpg);
    background-attachment: fixed;
}

body {
    width: 100%;
    height: 200%;
    margin: auto;
    background-image: url(images/dataslateTerminal.jpg);
    background-repeat: no-repeat;
    background-size: 60% 100%;
    margin-left: 20%;
    position: absolute;
    color: rgb(65, 255, 0);
    font-size: 1.2em;
}

div.bannerTop {
    height: 490px;
    width: 49.55%;
    margin-left: 112px;
    position: relative;
    top: 72px;

}

div.mainContent {
    height: 938px;
    width: 49.55%;
    margin-left: 112px;
    padding-right: 10px;
    position: relative;
    top: 80px;
    overflow: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;  
    -webkit-flex-flow: column,
}

figcaption {
    font-size: 1.3em;
}


div.unitFlexBox {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
}

div.bannerBottom {
    height: 70px;
    width: 49.55%;
    margin-left: 112px;
    position: absolute;
    top: 1530px;

}