html {
    background-image: url(images/background.jpg);
    background-attachment: fixed;
}

body {
    width: 100%;
    height: 200%;
    margin: auto;
    background-image: url(images/dataslateTerminal.jpg);
    background-repeat: no-repeat;
    background-size: 60% 100%;
    margin-left: 20%;
    position: absolute;
    color: rgb(65, 255, 0);
    font-size: 1.2em;
    overflow-x: hidden;
}

div.bannerTop {
    height: 490px;
    width: 49.55%;
    margin-left: 112px;
    position: relative;
    top: 72px;
}

div.bannerTop ul, div.bannerTop a {
    text-decoration: none;
    color: red;
    text-shadow: 2px 2px 8px black;
    font-weight: bolder;
    list-style: none;
    top: 225px;   
    position: relative;
}

div.bannerTop a:hover {
    text-shadow: 2px 2px 8px black;
    color: gold;
    transition: 2s;
}

div.bannerTop a {
    font-size: 1.1em;
    padding-left: 11px;
}

div.campaignBadge > a  {
    position: absolute;
    left: 45px;
    top: 45px;
    width: 350px;
    height: 350px;
}

div.campaignBadge img {
    border-radius: 35px;
}

div.campaignDesc {
    position: absolute;
    left: 415px;
    top: 115px;
}

div.mainContent {
    height: 930px;
    width: 49.55%;
    margin-left: 112px;
    padding-right: 10px;
    margin-top: 8px;
    position: relative;
    top: 80px;
    overflow-x: hidden;
    display: flex;
    display: -webkit-flex;
    flex-flow: column;  
    -webkit-flex-flow: column,
}

div.strikeForceShip {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
}

div.shipImage {
   flex: 2 1 150px;
}

div.shipDescription {
    flex: 1 1 150px;
}

div.batrepFlexBox {
    column-count: 2;
    margin-left: 15px;
}

div.batrepPhoto {
    padding-left: 15px;
    padding-top: 15px;
}

div.batrepDescription {
    float: right;
}

img.batRep {
    border: 1px solid #ddd; 
    border-radius: 4px;  
    padding: 5px; 
    width: 300px; 
    margin-bottom: 15px;
}

img.batRep:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.unitFlexBox > figure > img {
    border-radius: 35px;
}

button {
    margin-right: 35px;
}

figcaption {
    font-size: 1.3em;
}

div.unitFlexBox {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    -webkit-flex-flow: row;
}

div.battleStatistics {
    column-count: 2;
    margin-left: 25%;
}

div.bannerBottom {
    height: 70px;
    width: 49.55%;
    margin-left: 112px;
    position: absolute;
    top: 1560px;
}

div.bannerBottom ul, div.bannerBottom a {
    text-decoration: none;
    color: red;
    text-shadow: 2px 2px 8px black;
    font-weight: bolder;
    list-style: none;
}

div.bannerBottom a:hover {
    text-shadow: 2px 2px 8px black;
    color: gold;
    transition: 2s;
}

div.bannerBottom a {
    font-size: 1.1em;
    padding-left: 20px;
    padding-right: 20px;
}